.subt117 {
    .variant-tooltip {
        background-color: #1637A0 !important;
        color: white !important;
        position: absolute !important;
        padding: 16px 20px !important;
        border-radius: 20px !important;
        font-size: 16px !important;
        max-width: 300px !important;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2) !important;
        transition: opacity 0.3s ease !important;
        top: 100px !important;
        right: 140px !important;
        width: 254px !important;
        height: 154px !important;
        font-family: Avenir !important;
        align-items: center !important;
        display: flex !important;
        margin-right: 240px !important;
    }


    .variant-tooltip::after {
        content: '' !important;
        position: absolute !important;
        border-width: 8px !important;
        right: -16px !important;
        border-style: solid !important;
        border-color: transparent transparent transparent #1a3eb1 !important;
    }

    .tooltip-inner {
        position: relative;
        background-color: #1637A0 !important;
    }

    .tooltip-close {
        position: absolute !important;
        top: 12px !important;
        right: 19px !important;
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tooltip-hidden {
        display: none !important;
    }

    .tooltip-heading {
        margin-bottom: 8px !important;
        font-size: 24px !important;
        font-weight: normal !important;
    }

    .tooltip-arrow {
        display: none;
    }

    /* Accordion styles */
    /* Closed state */
    .SPC_WIDGET-MuiAccordion-root.accordion-closed-blue {
        background-color: #1637A0 !important;
        color: white;
        border: none;
    }

    .SPC_WIDGET-MuiAccordion-root.accordion-closed-blue .SPC_WIDGET-MuiAccordionSummary-root {
        background-color: #1637A0 !important;
        color: white !important;
    }

    .SPC_WIDGET-MuiAccordion-root.accordion-closed-blue .SPC_WIDGET-MuiSvgIcon-root {
        color: white !important;
    }

    .SPC_WIDGET-MuiAccordion-root.accordion-highlighted.accordion-bordered {
        border: 2px solid black !important;
    }

    /* Open state */
    .SPC_WIDGET-MuiAccordion-root.accordion-open {
        border: 2px solid #1637A0 !important;
        background-color: white !important;
        color: black !important;
    }

    .SPC_WIDGET-MuiAccordion-root.accordion-open .SPC_WIDGET-MuiAccordionSummary-root {
        background-color: white !important;
        color: black !important;
    }

    .SPC_WIDGET-MuiAccordion-root.accordion-open .SPC_WIDGET-MuiSvgIcon-root {
        color: black !important;
    }

    .accordion-highlighted,
    .accordion-highlighted>div[role="button"],
    .svg-closed,
    .accordion-icon-white {
        background-color: #1637A0 !important;
        color: white !important;
    }

    .SPC_WIDGET-MuiAccordion-root.accordion-closed .SPC_WIDGET-MuiSvgIcon-root {
        transform: rotate(180deg);
        transition: transform 0.2s;
    }
    .SPC_WIDGET-MuiAccordion-root.accordion-open .SPC_WIDGET-MuiSvgIcon-root,
    .SPC_WIDGET-MuiAccordion-root.Mui-expanded .SPC_WIDGET-MuiSvgIcon-root {
        transform: rotate(0deg);
        transition: transform 0.2s;
    }

    .accordion-highlighted-border {
        border: 2px solid #1637A0 !important;
    }

    .accordion-icon-white {
        color: #ffffff !important;
        fill: #ffffff !important;
    }

    .svg-closed {
        color: #ffffff !important;
    }

    .tooltip-inner {
        background-color: #1637A0;
        color: white;
        padding: 16px;
        border-radius: 8px;
        max-width: 240px;
        font-size: 14px;
        position: relative;
        text-align: left;
    }

    .tooltip-close {
        position: absolute;
        top: 0px;
        right: 0px;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .tooltip-heading {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .tooltip-arrow {
        position: absolute;
        top: 50%;
        right: -8px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #1637A0;
    }

    @media (max-width: 959px) {
        .variant-tooltip {
            max-width: 254px;
            top: -65px !important;
            right: 0 !important;
            margin-right: 0 !important;
        }

        .variant-tooltip::after {
            top: unset !important;
            content: '' !important;
            position: absolute !important;
            bottom: -15px !important;
            rotate: 90deg !important;
            right: 20% !important;
            border-width: 8px !important;
            border-style: solid !important;
            border-color: transparent transparent transparent #1a3eb1 !important;
        }
    }

    div[data-test="specPack:list"] div[data-test^="container:variants_section:"]{
        border-color: #1637A0 !important;
    }
}
