body.KGMT1 #popUpForm {
  display: none !important;
}

body.t1-Modal-Show.KGMT1 #popUpForm.KGMT1-form {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

body.t1-Modal-Show.KGMT1 #popUpForm.KGMT1-form input {
  color: black !important;
}